body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.center-image {
    width: 80%; /* Set the image width to 80% of its container */
    height: auto; /* Maintain the aspect ratio */
}

.centered-text {
    font-size: 2em;
    margin-top: 20px;
}
